<!DOCTYPE html>
<html>
<script type="text/javascript">
    function dbRequest(id_utente, id_officina){
        alert ("hi");
        var id = {'id_utente': id_utente, 'id_officina': id_officina};
        $.ajax({
        url: "/preferitis",
        type: "PATCH",
        data: {user_id: id_utente, meccanico:id_officina},
      
        });
    
}
</script>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>
</head>
<body>
<div class= "tabella">
<h1>Indice officine</h1>
<br/>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class=pers>Indirizzo</th>
      <th class=pers>Contatto</th>
      <th class=pers>Numero di telefono</th>
      <th class=pers>Preferito</th>
      <th class=pers>Opzioni</th>
      </tr>
  </thead>
<% if current_user.admin?  %>
<% @officina.each do |officina| %>
<tr>
	<td> <%= officina.indirizzo %></td>
        <td> <%= officina.contatto %></td>
        <td> <%= officina.numero_telefono %></td>
        <td> <input type="checkbox" onchange="dbRequest(<%= current_user %>,<%= officina.id %>)" name="requestCheckbox"> Bello?</input></td>
	<td> <a class = "modPers" href="http://localhost:3000/officinas/<%= officina.id %> ">Mostra </a> &emsp;
	<a class = "modPers" data-confirm="Sicuro di voler eliminare questa officina?" rel="nofollow" data-method="delete" href="/officinas/<%= officina.id %>"> Elimina</a> </td>
</tr>
	<% end %>
<% elsif current_user.tipo? %>

<% @officina.where(user_id: current_id).find_each do |officina| %>
 
<tr>
    
	<td> <%= officina.indirizzo %></td>
        <td> <%= officina.contatto %></td>
        <td> <%= officina.numero_telefono %></td>
        <td>  
         <% if @preferiti.where(user_id: current_id).find_each.count <1 %> 
         <form class="new_autoveicolo" id="new_autoveicolo" action="/preferitis" accept-charset="UTF-8" method="post">
            <input type="hidden" class="form-control" name="preferitis[user_id]" id="preferiti_user_id" value="<%= current_id %>"/>
            <input type="hidden" class="form-control" name="preferitis[meccanico]" id="preferiti_meccanico" value="<%= officina.id %>"/>
            <input type="submit" value="Aggiungi ai preferiti"/>
        </form>
        
        <% else %>


        <% @preferiti.where(user_id: current_id,meccanico: officina.id).find_each do |preferiti|%>

        
        
        
        <form class="new_autoveicolo" id="new_autoveicolo" action="/preferitis/<%= preferiti.id %>" accept-charset="UTF-8" method="delete">
        <input type="submit" value="Rimuovi dai preferiti"/>
        </form>
        
        
        
        
        <% end %>
        <% end %>
        </td>
	<td> <a class = "modPers"  href="http://localhost:3000/officinas/<%= officina.id %> ">Mostra &emsp; </a>
	<a  class = "modPers" data-confirm="Sicuro di voler eliminare questa officina?" rel="nofollow"  data-method="delete" href="/officinas/<%= officina.id %>">  Elimina</a> </td>
	</tr>
	<% end %>
<% else %>
<% @officina.each do |officina| %>
<tr>
	<td> <%= officina.indirizzo %></td>
        <td> <%= officina.contatto %></td>
        <td> <%= officina.numero_telefono %></td>
 <td>  
         <% if @preferiti.where(user_id: current_id).find_each.count <1 %> 
         <form class="new_autoveicolo" id="new_autoveicolo" action="/preferitis" accept-charset="UTF-8" method="post">
            <input type="hidden" class="form-control" name="preferitis[user_id]" id="preferiti_user_id" value="<%= current_id %>"/>
            <input type="hidden" class="form-control" name="preferitis[meccanico]" id="preferiti_meccanico" value="<%= officina.id %>"/>
            <input type="submit" value="Aggiungi ai preferiti"/>
        </form>
        
        <% else %>


        <% @preferiti.where(user_id: current_id,meccanico: officina.id).find_each do |preferiti|%>

        
        
        
        <form class="new_autoveicolo" id="new_autoveicolo" action="/preferitis/<%= preferiti.id %>" accept-charset="UTF-8" method="delete">
        <input type="submit" value="Rimuovi dai preferiti"/>
        </form>
        
        
        
        
        <% end %>
        <% end %>
        </td>
        <td><a class = "modPers" href="http://localhost:3000/officinas/<%= officina.id %> ">Mostra </a> &emsp;</td>
		</tr>
<% end %>
<% end %>

</table>
<% if current_user.tipo? || current_user.admin?%>
<p>
<a href="http://localhost:3000/officinas/new" class="modPers"><span class="glyphicon glyphicon-plus"></span> Aggiungi officina</a>
</p>
<% end %>
</div>
</body>
</html>
